@import "tailwindcss";

@layer components {
    .theme-color {
      @apply bg-[#fcb80b];
    }
    @media screen and (min-width: 320px) {
      .mobile-screen {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 16px;
    }
  }
}
